<div id="filterBtn">
  <button id="all" class="all-btn active" value="all">Show all</button>
  <button id="chest" class="chest-btn" value="Chest">Chest</button>
  <button id="triceps" class="triceps-btn" value="Triceps">Triceps</button>
  <button id="biceps" class="biceps-btn" value="Biceps">Biceps</button>
  <button id="back" class="back-btn" value="Back">Back</button>
  <button id="legs" class="legs-btn" value="Legs">Legs</button>
  <button id="quads" class="quads-btn" value="Quads">Quads</button>
  <button id="hamstrings" class="hamstrings-btn" value="Hamstrings">Hamstrings</button>
  <button id="calfs" class="calfs-btn" value="Calfs">Calfs</button>
</div>
