    <header>
      <div class="logoWithTitle">
        <div class="logo-image">
          <img src="pictures/bodyBuilder.png" alt="Main Logo">
        </div>
      </div>

      <h1 class="website-title"><a href="#">EEA</a></h1>

      <div id="nav">
          <a href="home">Home</a>
          <a href="about">About</a>
          <a href="workouts">Workouts</a>
          <a href="supplements">Supplements</a>
          <a href="myProgram">My Program</a>
          <a href="review">Review</a>

      </div>
    </header>
