<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EEA Fitness</title>
    <link rel = "styleSheet" href="mainPage.css">
  </head>
  <body>

    {{{body}}}

  </body>
  <footer>
		<p>Copyright &copy; <a href="#">EAA Fitness</a> 2019 | Designed by Eric, Eric, and Austin</p>
  </footer>
</html>
