<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EEA Fitness</title>
    <link rel = "styleSheet" href="mainPage.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.runtime.js" charset="utf-8" defer></script>
    <script src="/workoutsTemplate.js" charset="utf-8" defer></script>
  </head>
  <body>

    {{{body}}}

  </body>
  <footer>
		<p>Copyright &copy; <a href="#">EAA Fitness</a> 2019 | Designed by Eric, Eric, and Austin</p>
  </footer>
</html>
