{{>header}}

    <main class = "content">
      <h2 class = "site-title">EEA is established on December 3rd 2019 in Corvallis,Oregon. EEA is dedicated to delivering an exclusive lesson for the people who wants to increase their life quality though fitness.</h2>

      <h3 class = "sub-title"><a href="#">Member In EEA:</a></h3>

  <section id="customers">

    <div class="customer" data-departments="power" data-location="Corvallis" data-condtion="500 pounds on bench press">
      <div class="post-contents">
        <div class = "post-image-container">
        <img src="https://inews.gtimg.com/newsapp_bt/0/6633772335/640" alt="Austin">
        </div>
        <div class="post-info-container">
          <a herf="#" class="post-title "> Name:Austin Sharp</a> <span class="post-departments"> Function:weight-lifting </span> <span class="post-location">Location:Corvallis </span> <span class="post-condtition">Experience: Austin had experience of rasing 500 pounds weight
            up.</span>
        </div>
      </div>
    </div>

    <div class="customer" data-departments="nutrition" data-location="Corvallis" data-condtion="healty owner">
      <div class="post-contents">
        <div class ="post-image-container">
        <img src="http://a2.att.hudong.com/82/82/50200014992522154428829656540.jpg" alt="Eric">
        </div>
        <div class="post-info-container">
          <a herf="#" class="post-title ">Name:Eric Hoang</a> <span class="post-departments"> Function:Nutritionist </span> <span class="post-location"> Location:Corvallis </span> <span class="post-condtition"> Experience:The best Nutritionist on the Earth. He knew all function of different food</span>
        </div>
      </div>
    </div>

    <div class="customer" data-departments="stretcher" data-location="Corvallis" data-condtion="relaxing master">
      <div class="post-contents">
        <div class ="post-image-container">
          <img src = "https://img.mttmp.com/images/2018/02/03/04/1352_gtGEqY_d9x8nih.jpg!r800x0.jpg" alt="Eric S">
        <div class="post-info-container ">
          <a herf="#" class="post-title">Name:Eric Sun</a> <span class="post-departments"> Function:Stretching</span> <span class="post-location">Location: Corvallis </span> <span class="post-condtition"> Experience：The real relaxing master. No pain after the work out!</span>
        </div>
      </div>
    </div>
    </section>
    </main>
