{{>header}}

<main class="mainContent">

   <h2 class="welcome">Welcome To EEA Fitness!</h2>
   <h3 class="moto">"Respect Your Body, It's The Only One You Get!" - Jim Rohn"</h3>

<section id="mainPics">

   <div class="mainPageImg">
     <div class="main">
       <div class="main-contents">
         <div class="main-image-container">
           <img src="pictures/ropes.jpg" alt="Ropes">
         </div>
         <div class="info">
          <p>Train Often</p>
         </div>
       </div>
     </div>
   </div>

   <div class="mainPageImg">
     <div class="main">
       <div class="main-contents">
         <div class="main-image-container">
           <img src="pictures/strength.jpg" alt="strength">
         </div>
         <div class="info">
          <p>Lift Often</p>
         </div>
       </div>
     </div>
   </div>

   <div class="mainPageImg">
     <div class="main">
       <div class="main-contents">
         <div class="main-image-container">
           <img src="pictures/stretch.jpg" alt="stretch">
         </div>
         <div class="info">
          <p>Stretch Often</p>
         </div>
       </div>
     </div>
   </div>

   <div class="mainPageImg">
     <div class="main">
       <div class="main-contents">
         <div class="main-image-container">
           <img src="pictures/run.jpg" alt="run">
         </div>
         <div class="info">
          <p>Run Often</p>
         </div>
       </div>
     </div>
   </div>
 </section>

 <section id="linkInfo">
    <div class="mainPageImg">
      <div class="main">
        <div class="main-contents">
          <div class="main-image-container">
            <img src="pictures/drinkingWater.jpg" alt="Ropes">
          </div>
          <div class="info">
           <p>Why drink water?</p>
           <a href="https://www.webmd.com/diet/features/6-reasons-to-drink-water#1" target="_blank">Find Out!</a>
          </div>
        </div>
      </div>
    </div>


    <div class="mainPageImg">
      <div class="main">
        <div class="main-contents">
          <div class="main-image-container">
            <img src="pictures/healthyEating.jpg" alt="stregth">
          </div>
          <div class="info">
           <p>Why eat good?</p>
           <a href="https://fit4lifetampa.com/fuel-mains-benefits-proper-nutrition-athletes/" target="_blank">Find Out!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mainPageImg">
      <div class="main">
        <div class="main-contents">
          <div class="main-image-container">
            <img src="pictures/resting.jpg" alt="stretch">
          </div>
          <div class="info">
           <p>Why take rest days?</p>
           <a href="https://www.acefitness.org/education-and-resources/lifestyle/blog/7176/8-reasons-to-take-a-rest-day" target="_blank">Find Out!</a>
          </div>
        </div>
      </div>
    </div>

    <div class="mainPageImg">
      <div class="main">
        <div class="main-contents">
          <div class="main-image-container">
            <img src="pictures/supplement.jpg" alt="run">
          </div>
          <div class="info">
           <p>Why take supplements?</p>
           <a href="https://www.webmd.com/vitamins-and-supplements/features/athletic-supplements-fact-fiction#1" target="_blank">Find Out!</a>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>
