    {{>header}}
    {{>filter}}
<main class="content">

   <section id="workouts">

     {{#if noSaved}}
     <main class="error-container">
       <h3>You don't Have Any Workouts Saved.</h3>
       <h3>Go to Workouts Page to Add</h3>
     </main>
     {{else}}
     {{#each myProgramData}}
     {{> program}}
     {{/each}}
     {{/if}}
     
   </section>
 </main>
