body {
  background-color: #F6F6F6;
}

header {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
}

header img {
  height: 75px;
  width: 75px;

}

.website-title a{
  font-family: Raleway, "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 50px;
}

#nav a{
  font-family: fantasy, cursive, serif;
  text-decoration: none;
  color: black;
  padding-left: 100px;
  padding-right: 30px;
}

#nav a:hover{
  text-decoration: underline;
}


main {
  background: #F6F6F6;
}

main .welcome {
  font-family: Impact, Charcoal, sans-serif	;
  font-size: 50px;
  margin: 0px;
  color: black;
  text-align: center;
  background-color: #E62714;
  padding: 50px;

}

main h3 {
  font-family: Raleway, "Open Sans", sans-serif;
  color: black;
  text-align: center;

}

#mainPics {
  text-align: center;

}

#linkInfo {
  text-align: center;
}

.mainPageImg {
  display: inline-block;
  vertical-align: top;
  height: 240px;
  width: 300px;
  margin: 10px;
  padding: 0px;
  border: none;
  background-color: #FFFFFF;

}

.workout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

}

.workout-image-container {
  overflow: hidden;
}

.workout-image-container img {
  max-height: 175px;
  max-width: 300px;
  transition: transform .5s ease;

}

.workout-image-container:hover img {
  transform: scale(1.3);
}



.info {
  width: 100%;
  margin-top: 10px;
}

.info p {
  font-size: 20px;
  font-weight: bold;
  font-family: Raleway, "Open Sans", sans-serif;
  margin: 0px;
  text-align: center;
}

.info a {
  text-decoration: none;
  color: #E62714;
  font-family: Andale Mono, monospace;
}

.info:hover a{
  text-decoration: underline;

}


















footer {
    background: #F6F6F6;
    border-top: 1px solid black;
    height: 50px;
    margin-top: 10px;
    text-align: center;
    bottom: 0px;
    width: 100%;

}

footer a {
  text-decoration: none;
  color: black;

}
