body {
  background-color: #F6F6F6;
}

header {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px;
}

header img {
  height: 75px;
  width: 75px;

}

.website-title a{
  font-family: Raleway, "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 50px;
}

.nav a{
  font-family: fantasy, cursive, serif;
  text-decoration: none;
  color: black;
  padding-left: 130px;
  padding-right: 30px;
}

.nav a:hover{
  text-decoration: underline;
}




main {
  background: #F6F6F6;
}

main .welcome {
  font-family: Impact, Charcoal, sans-serif	;
  font-size: 50px;
  margin: 0px;
  color: black;
  text-align: center;
  background-color: #E62714;
  padding: 50px;


}

main h3 {
  font-family: Raleway, "Open Sans", sans-serif;
  color: black;
  text-align: center;

}

.mainPageImg {
  display: inline-block;
  vertical-align: top;
  height: 300px;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border: none;

  background-color: #FFFFFF;

}

.workout {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.workout-image-container img {
  max-height: 175px;
  max-width: 300px;
}

.info {
  width: 100%;
  margin-top: 10px;
}

.info p {
  margin: 0px;
  text-align: center;
}





footer p {
  font-family: Raleway, "Open Sans", sans-serif;
  color: black;

}

footer a {
  font-family: Raleway, "Open Sans", sans-serif;
  text-decoration: none;
  color: black;
}
